.cards {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-top: 100px;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 5px;
    width: 240px;
    height: 160px;
    background-color: rgb(154, 243, 194);
    font-size: 40px;
    color: #fff;
    margin-top: -10px;
    margin-right: 80px;
}

.Titles {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 4px;
    margin-top: -25px;
}

p {
    color: #fff;
}
