.signupContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 380px;
    border: 1px solid #fff;
    height: 450px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: -40px;
    margin-bottom: 400px;
    background-color: #fff;
    padding: 5px 15px;
}
.signupContainer form {
    border: 1px solid #c3cacd;
    background-color: #bacdd5;
}
.signupContainer p {
    font-size: 27px;
    color: black;
}

.signupContainer h6 {
    margin-top: -20px;
    color: gray;
    margin-left: -190px;
}

label {
    margin: 5px 5px;
    margin-left: -270px;
}

.signupContainer input {
    font-size: 20px;
    margin: 5px 10px;
}

button {
    width: 330px;
    margin-left: 10px;
    border: 1px solid #029cf5;
    border-radius: 30px;
    height: 30px;
    background: #029cf5;
    margin-top: 25px;
    cursor: pointer;
    color: #fff;
}

.signupContainer .detail {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.detail h5 {
    font-weight: 200;
}

.link {
    text-decoration: none;
    color : #029cf5;
}